
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../Img/fundo.jpg") center/cover no-repeat fixed;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

#borda {
    margin-top: 15%;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid #007bff;
    border-radius: 20px;
    color: black;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: fadeIn 1s ease-in-out;
}

#logo {
    display: flex;
    text-align: center;
    justify-content: center;
    width : 100%;
    height: auto;
    margin-bottom: 10px;
}

#logo img {
    max-width: 100px;
}

.logotipagem {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.logotipagem h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #007bff; /* Azul */
    margin-bottom: 10px;
}

#input_usu-sen {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 25px;
}

#input_usu-sen input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 40px;
    outline: none;
    font-size: 15px;
    color: black;
    padding: 0 20px;
    transition: 0.3s;
    box-sizing: border-box;
}

#input_usu-sen input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
}

#input_usu-sen input::placeholder {
    color: #555;
}

.cadastro {
    margin-top: 30px;
    text-align: center;
}

.cadastro{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.1  s ease;
}

.cadastro:hover {
    background: #007bff;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.login {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    color: #555;
}

.login a {
    text-decoration: none;
    color: #007bff;
    font-weight: 900;
}

.login a:hover {
    color: #0056b3;
    text-decoration: underline;
    transition: 0.5s;
}

select {
    height: 45px;
    border: 2px solid #007bff;
    border-radius: 40px;
    padding: 0 20px;
    background: rgba(255,255,255,0.5);
    color: #000;
    font-size: 14px;
    outline: none;
    transition: .3s;
    margin-bottom: 5px;
    color: #222;
}

select:focus {
    border-color: #2b8cff;
    box-shadow: 0 0 8px rgba(43,140,255,0.5);
    transform: scale(1.02);
}

#tip {
    height: 45px;
    width: 100%;
    border: 2px solid #007bff;
    border-radius: 40px;
    padding: 0 20px;
    background: rgba(255,255,255,0.5);
    color: #000;
    font-size: 14px;
    outline: none;
    transition: .3s;
    margin-bottom: 5px;
    color: #222;
}

footer {
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #666;
    font-size: 14px;
    margin-top: auto;
}

footer span {
    color: #007bff;
    font-weight: bold;
}