
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    background: url("../Img/fundo.jpg") center/cover no-repeat fixed;
    color: #555;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

#logo {
    width: 80px;
    max-width: 120px;
    animation: fadeScale 0.8s ease-out;
}

header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

#vit {
    margin-left: 10px;
    font-size: 28px;
    color: #007bff;
    animation: fadeIn 1.2s ease-in-out;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 6%;
}

.titulo {
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #007bff;
}

.card {
    width: 500px;
    padding: 35px;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .8s ease-out;
    transition: .3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* FOTO */
.foto {
    width: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid rgba(255,255,255,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #222;
}

.campo input {
    height: 45px;
    border: 2px solid #007bff;
    border-radius: 40px;
    padding: 0 20px;
    background: rgba(255,255,255,0.5);
    color: #000;
    font-size: 16px;
    outline: none;
    transition: .3s;
}

.campo input:focus {
    border-color: #2b8cff;
    box-shadow: 0 0 8px rgba(43,140,255,0.5);
    transform: scale(1.02);
}

#salvar {
    margin-top: 10px;
    height: 52px;
    background: #2b8cff;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

#salvar:hover {
    background: #006be6;
    transform: translateY(-3px) scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    color: #333;
}

footer span {
    color: #007bff;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
